  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #141c2f;
    color: white;
    font-family: 'Space Mono', monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    min-height: 100vh;
  }

  .header-theme-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 75%;
  }

  .toggle-color-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    letter-spacing: 1px;
  }

  .toggle-text-light {
    padding-right: 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 3px;
  }

  .github-search-user-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31.5%;
    height: 4.8vh;

    border-radius: 15px;
    background-color: #1e2a47;
  }

  input {
    flex: 1;
    padding: 6px 0px;   /*top bottom, left right*/

    font-size: 1.125rem;
    font-family: 'Space Mono', monospace;
    
    border: none;
    background-color: #1e2a47;
  }

  input::placeholder {
    color: white;
  }

  .input-bg-img {
    background-image: url(images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: left 15px center;
    padding-left: 4rem;
  }

  .user-search {
    width: 13%;
    height: 3.4vh;
    
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    color: white;
    background-color: #0079fe;

    border: none;
    border-radius: 10px;

    margin-right: 10px;
  }

  .github-user-information-card {
    display: flex;
    align-items: flex-start;

    border-radius: 15px;
    background-color: #1e2a47;

    width: 31.5%;
    margin: 25px 0px;
    }

  .github-profile-picture {
      width: 117px;
      height:117px;
      border-radius: 50%;

      margin: 45px 40px;
    }

    .github-stats-right-side {
      flex: 1;
      margin-top: 22px;
    }

  .card-top {
      display: flex;
      flex-direction: column;
    }

    .name-and-bio {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    .actual-name {
      padding-right: 30%;
      margin-bottom: 0;
    }

    .username {
      margin-top: 0;
      margin-bottom: 2%;
      
      color: #175fff;
      font-weight: 200;
      font-size: 1.125rem;
      letter-spacing: 1px;
    }

    .user-join-date {
      margin-top: 20px;
    }

    .repos-followers-following-card {
      display: flex;
      justify-content: space-between;
  
      background-color: #141d2f;
      border-radius: 15px; 
    }

    .user-count {
      padding: 5px 15px;
    }
  

  

